<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Добро пожаловать</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
<div class="container">
    <form method="get" >
        <h2 class="c">Добро пожаловать в систему тестирования</h2>
        <h3 class="c">Выберите способ авторизации </h3>
        <button class="btn" type="submit" formaction="/signin">Вход</button>
        <br>
        <button class="btn" type="submit" formaction="/signup">Регистрация</button>
    </form>
</div>
</body>
</html>