.datatable {

    width: 50%;
    margin: auto;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.datatable tr.true {
    font-weight: bold;
    padding: 5px;
    background: darkseagreen;
    border: 1px solid #dddddd;
}
.datatable tr.false {
    font-weight: bold;
    padding: 5px;
    background: red;
    border: 1px solid #dddddd;
}
.datatable th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.datatable td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}